{% extends '../base.html' %}
{% block title %}Ученики{% endblock %}
{% block menu %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href={% url 'webapp:index' %} }>School App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="d-flex navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item mx-3">
                            <span class="nav-link">Привет, {{ request.user.tel_number }}!</span>
                        </li>
                        <li class="nav-item"><a href="{% url 'webapp:student_create' %}" class="nav-link">Добавить студента</a></li>
                        <li class="nav-item"><a href="{% url 'webapp:send' %}" class="nav-link">Сделать рассылку</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">Выход</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'accounts:sign_up' %}" class="nav-link">Регистрация</a></li>
                        <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link">Вход</a></li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                    {% include 'partial/simple_search.html' %}
                {% endif %}
        </div>
      </div>
    </nav>
{% endblock %}
{% block content %}
     {% if request.user.is_authenticated %}
         {% if students %}
            <div class="container mt-5">
                <table class="table caption-top">
                   <caption class="text-center">Список учеников</caption>
                  <thead>
                    <tr>
                      <th scope="col">Full name</th>
                      <th scope="col">Mail</th>
                      <th scope="col">Grade</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for student in students %}
                    <tr>
                      <td>{{ student }}</td>
                      <td>{{ student.mail }}</td>
                      <td>{{ student.grade }}</td>
                      <td>
                            <div class="btn-group">
                                <a class='btn btn-info' href="{% url 'webapp:student_detail' student.pk %}">Детали</a>
                                <a class='btn btn-warning'  href="{% url 'webapp:student_update' student.pk %}">Редактировать</a>
                                <a class='btn btn-danger'  href="{% url 'webapp:student_delete' student.pk %}">Удалить</a>
                            </div>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
             {% else %}
              <h1 class="text-center mt-5">Нет ни одного созданного ученика</h1>
             {% endif %}
        {% else %}
         <h1 style="margin-top: 250px; text-align: center">Пройдите авторизацию чтоб воспользоваться системой</h1>
    {% endif %}
{% endblock %}